*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
deploy-pklubsiv2.zip
*.zip
/.playwright-mcp
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/database/*.sqlite
/database.sqlite
/public/uploads
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/cache/data/*
/storage/framework/testing/disks/*
/storage/logs/*.log
/storage/logs/*.log.*
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
